name: DevSecOps Scan
on: [push]

jobs:
  security-scan:
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run Trivy FS Scan
        run: |
          /usr/local/bin/trivy fs --severity HIGH,CRITICAL .
